{% extends "base.html" %}
{% block content %}

<div class="dashboard-card wide-box">

    <h2 class="page-title">My Orders</h2>
        <div class="primary-action">
        <a href="/choose-flights" class="action-box">
            ➕ Book New Flight
        </a>
    </div>
    <form method="get" class="search-form" style="margin-bottom: 20px;">
<select name="status" class="form-input">
    <option value="">All Orders</option>
    <option value="Approved" {% if selected_status == 'Approved' %}selected{% endif %}>Approved</option>
    <option value="Completed" {% if selected_status == 'Completed' %}selected{% endif %}>Completed</option>
    <option value="Customer_Cancelation" {% if selected_status == 'Customer_Cancelation' %}selected{% endif %}>Canceled by Me</option>
    <option value="System_Cancelation" {% if selected_status == 'System_Cancelation' %}selected{% endif %}>Canceled by System</option>
</select>
        
    <button type="submit" class="action-box small">
        Filter
    </button>
</form>



    {% if orders %}
    <table class="orders-table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Flight</th>
                <th>From</th>
                <th>To</th>
                <th>Date</th>
                <th>Status</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.O_ID }}</td>
                <td>{{ order.Flight_Number }}</td>
                <td>{{ order.Airport_Source }}</td>
                <td>{{ order.Destination }}</td>
                <td>{{ order.Departure_Date }}</td>
                <td class="status {{ order.Stat|lower }}">
                    {{ order.Stat }}
                </td>
                <td>{{ order.Price }} $</td>

                     <td>
                        {% if order.Stat in ['Approved', 'Active'] %}
                        <form method="post"
                        action="/cancel-order/{{ order.O_ID }}"
                        style="display:inline;">
                    <button type="submit" class="cancel-button">
                        Cancel
                    </button>
                    </form>
                    {% else %}
                        —
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p class="no-results">
            You don’t have any orders yet.
        </p>
    {% endif %}

</div>

{% endblock %}
